
.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 20px;
  height: 80px;
  padding: 20px;
  border-bottom: 1px solid lightgray;

}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 20px;
}


.console-and-graph {
  display: flex;
}

.console {
  padding: 15px;
  background-color: lightgray;
  width: 20%;
  border-radius: 0px 0px 10px 0px;
}

.console-subtitle {
  border-bottom: 1px solid darkgray;
  margin-bottom: 10px;
}

.console-subtitle.compare {
  margin-top: 20px;
}

.select-label {
  font-size: 14px;
}

#selectButton {
  margin-left: 5px;
  font-size: 14px;
}

.console-data-panel {
  display: grid;
  grid-template-columns: 22px 200px;
  grid-row-gap: 10px;
  align-items: center;
}

.checkbox-label {
  font-size: 14px;
}


.graph {
  padding: 10px;
  margin-top: 20px;
  margin-left: 10px;
  width: 80%;
}


