
h1 {
  padding: 20px 0px 0px 20px;
  height: 60px;
  font-size: 40px;
  margin-left: auto;
  margin-right: auto;
}

.console-and-data {
  display: flex;
}

.console {
  padding: 15px;
  background-color: lightgray;
  width: 20%;
  border-radius: 0px 10px 10px 0px;
}

.graph {
  padding: 10px;
  margin-left: 10px;
  width: 75%;
}

#selectButton {
  margin-top: 10px;
  font-size: 14px;
}

